header {
  .top-buttons-container {
    justify-self: left;
  }

  .progress-container {
    flex: 3;
    margin: 0 6px;
    height: 10px;
    overflow: hidden;

    .wrapper {
      height: 10px;
    }

    .container {
      background-color: lightgray;
    }
  }

  .time-container {
    display: flex;
    justify-content: right;
    font-family: "Abraham";
    font-size: 22px;
    user-select: none;
    direction: ltr;
  }
}
