header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: rgba(128, 128, 128, 0.254);
  text-align: center;

  .time-container {
    display: flex;
    justify-content: right;
    font-family: "Abraham";
    font-size: 32px;
    user-select: none;
    direction: ltr;
  }

  .progress-container {
    flex: 3;
    margin: 0 6px;
    .wrapper {
      height: 10px;
    }

    .container {
      background-color: lightgray;
    }
  }
}
