.app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

  .main-section {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    > * {
      width: 100%;
      padding: 0 20px 0 20px;
      margin: 10px auto;
    }

    main {
      background-color: forestgreen;
    }
  }

  .buttons {
    width: 80%;
    display: block;
    border: 0;
    border-radius: 20px;
    background: #5f91c9;
    color: white;
    cursor: pointer;
    padding: 6px 0;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;

    &:disabled {
      cursor: auto;
      background: rgba(95, 145, 201, 0.54);
    }
  }
}
