/*@font-face {
  font-family: "Abraham-light";
src: url("fonts/abraham-light.otf");
}

@font-face {
  font-family: "Abraham";
  src: url("fonts/abraham-regular.otf");
}*/

body * {
  direction: rtl;
  font-family: "Abraham-light", sans-serif;
  box-sizing: border-box;
  font-size: 25px;
  color: #134356;
}
