
@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: "Abraham";
  src: url("assets/fonts/abraham-regular.otf") format("opentype");
}
@font-face {
  font-family: "Abraham-light";
  src: url("assets/fonts/abraham-light.otf") format("opentype");
}

 * {
  direction: rtl;
  font-family: "Abraham-light", sans-serif;
  box-sizing: border-box;
  font-size: 25px;
  color: #134356;
}
